repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-json
        exclude: .*devcontainer.json
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
  - repo: https://github.com/PyCQA/pylint
    rev: v4.0.2
    hooks:
      - id: pylint
        args:
          - --disable=duplicate-code,import-error
          - --ignore-patterns=test_
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        args:
          - --convention=numpy
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.8
    hooks:
      # Run the linter.
      - id: ruff-check
        args:
        - msticpy
        - --fix
      # Run the formatter.
      - id: ruff-format
        args:
        - msticpy
  - repo: local
    hooks:
      - id: check_reqs_all
        name: check_reqs_all
        entry: python -m tools.create_reqs_all
        pass_filenames: False
        language: python
        types: [python]
