repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
  - repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
      - id: black
        language: python
  - repo: https://github.com/pre-commit/mirrors-pylint
    rev: v2.6.0
    hooks:
      - id: pylint
        args:
          - --disable=E0401
          - --ignore=tests
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        args:
          - --extend-ignore=E0401,E501
          - --max-line-length=90
          - --exclude=tests
  - repo: local
    hooks:
      - id: download_tlds
        name: download_tlds
        entry: python -m pre-commit.download_tlds
        pass_filenames: False
        language: python
        types: [python]
        args: [--tld-seed=./msticpy/sectools/tld_seed.txt]
