recursive-include msticpy/data/queries *.yaml
include msticpy/msticpyconfig.yaml
include msticpy/resources/*
include requirements.txt
include requirements-dev.txt
include requirements-all.txt
include README.md
recursive-exclude tests *
