attrs>=18.2.0
azure-common>=1.1.18
azure-core>=1.2.2
azure-identity>=1.5.0
azure-keyvault-secrets>=4.0.0
azure-mgmt-compute>=4.6.2
azure-mgmt-core>=1.2.1
azure-mgmt-keyvault>=2.0.0
azure-mgmt-monitor>=2.0.0
azure-mgmt-network>=2.7.0
azure-mgmt-resource>=16.1.0
azure-mgmt-resourcegraph>=8.0.0
azure-mgmt-subscription>=1.0.0
azure-storage-blob>=12.5.0
bokeh>=1.4.0
cryptography>=3.1
deprecated>=1.2.4
dnspython<3.0.0 # <=2.0 required by ipwhois
folium>=0.9.0
geoip2>=2.9.0
html5lib  # req by pandas for scraping
idna<3 # req < 3 from requests
ipwhois>=1.1.0
ipython>=7.23.1
ipywidgets>=7.4.2
keyring>=13.2.1
KqlmagicCustom[jupyter-basic,auth_code_clipboard]>=0.1.114.dev26
KqlmagicCustom[jupyter-extended]>=0.1.114.dev25
lxml>=4.6.3
matplotlib>=3.0.0
moz_sql_parser>=4.5.0,<=4.11.21016
msrest>=0.6.0
msrestazure>=0.6.0
nest_asyncio>=1.4.0
networkx>=2.2
numpy>=1.15.4  # pandas
openpyxl>=3.0
pandas>=1.1.5
passivetotal>=2.5.3
pygeohash>=1.2.0
python-dateutil>=2.8.1  # pandas
pytz>=2019.2  # pandas
pyyaml>=3.13
requests>=2.21.1
scikit-learn>=0.20.2
scipy>=1.1.0
setuptools>=40.6.3
splunk-sdk>=1.6.0
statsmodels>=0.11.1
sumologic-sdk>=0.1.11
tldextract>=2.2.2
tqdm>=4.36.1
urllib3>=1.23
vt-graph-api>=1.0.1
vt-py>=0.6.1