attrs>=18.2.0
bokeh>=1.0.2
deprecated>=1.2.4
folium>=0.9.0
ipython>=7.2.0
ipywidgets>=7.4.2
Kqlmagic>=0.1.94
matplotlib>=3.0.2
geoip2>=2.9.0
networkx>=2.2
numpy>=1.15.4
pandas>=0.23.4
requests>=2.21.0
scikit_learn>=0.20.2
seaborn>=0.9.0
setuptools>=40.6.3
typing>=3.6.6
urllib3>=1.24.1
