bokeh>=1.0.2
matplotlib>=3.0.2
seaborn>=0.9.0
setuptools>=40.6.3
maxminddb_geolite2>=2018.703
urllib3>=1.24.1
pandas>=0.23.4
ipywidgets>=7.4.2
numpy>=1.15.4
attrs>=18.2.0
requests>=2.21.0
networkx>=2.2
ipython>=7.2.0
Kqlmagic>=0.1.90
attr>=0.3.1
scikit_learn>=0.20.2
typing>=3.6.6
