aiohttp>=3.7.4
async-cache>=1.1.1
bandit>=1.7.0
beautifulsoup4>=4.0.0
black>=20.8b1
coverage>=5.5
docutils<0.20.0
filelock>=3.0.0
flake8>=3.8.4
isort>=5.10.1
markdown>=3.3.4
mccabe>=0.6.1
mypy>=0.812
nbdime>=2.1.0
nbconvert>=6.1.0
pandas>=1.4.0, <2.0.0
pep8-naming>=0.10.0
pep8>=1.7.1
pipreqs>=0.4.9
pre-commit>=2.7.1
pycodestyle>=2.6.0
pydocstyle>=6.0.0
pyflakes>=2.2.0
pygeohash>=1.2.0
pylint>=2.5.3
pyroma>=3.1
pytest-check>=1.0.1
pytest-cov>=2.11.1
pytest-xdist>=2.5.0
pytest>=5.0.1
readthedocs-sphinx-ext==2.2.0
responses>=0.13.2
respx>=0.20.1
sphinx-rtd-theme>=1.0.0
sphinx>=5.0.1
types-attrs>=19.0.0
