attrs>=18.2.0
azure-common>=1.1.18
azure-core>=1.2.2
azure-identity>=1.5.0
azure-mgmt-subscription>=1.0.0
bokeh>=1.4.0
cryptography>=3.1
deprecated>=1.2.4
dnspython<=2.0.0
folium>=0.9.0
geoip2>=2.9.0
httpx>=0.21
html5lib
ipwhois>=1.1.0
ipython >= 7.23.1; python_version >= "3.8"
ipython >= 7.1.1; python_version < "3.8"
ipywidgets>=7.4.2
# keyring>=13.2.1  # azure
KqlmagicCustom[jupyter-basic,auth_code_clipboard]>=0.1.114
lxml>=4.6.3
matplotlib>=3.0.0
msrest>=0.6.0
msrestazure>=0.6.0
networkx>=2.2
numpy>=1.15.4  # pandas
pandas>=1.1.5
pygeohash>=1.2.0
python-dateutil>=2.8.1  # pandas
pytz>=2019.2  # pandas
pyyaml>=3.13
respx>=0.19.0
# scikit-learn>=0.20.2  # scikit
# scipy>=1.1.0  # timeseries
# seaborn>=0.9.0
setuptools>=40.6.3
# splunk-sdk>=1.6.0  # splunk
# statsmodels>=0.11.1  # timeseries
tldextract>=2.2.2
tqdm>=4.36.1
urllib3>=1.23
