azure-mgmt-resourcegraph>=8.0.0
scipy>=1.1.0
attrs>=18.2.0
mo-sql-parsing<12.0.0,>=11
openpyxl>=3.0
packaging>=26.2
azure-mgmt-keyvault>=2.0.0
tqdm>=4.36.1
azure-mgmt-network>=2.7.0
ipython>=9.13.0; python_version >= "3.11"
requests>=2.31.0
msal>=1.12.0
splunk-sdk!=2.0.0,>=1.6.0
beautifulsoup4>=4.0.0
azure-mgmt-compute>=4.6.2
deprecated>=1.2.4
lxml>=4.6.5
networkx>=2.2
folium>=0.9.0
panel>=1.2.1
python-dateutil>=2.9.0.post0
azure-mgmt-core>=1.6.0
pygments>=2.20.0
azure-mgmt-resource>=16.1.0
ipywidgets<9.0.0,>=7.4.2
msrest>=0.6.0
sumologic-sdk>=0.1.11
joblib>=1.3.0
vt-graph-api>=2.0
passivetotal>=2.5.3
scikit-learn>=1.0.0
azure-core>=1.24.0
azure-identity>=1.16.1
pyjwt>=2.3.0
cryptography>=43.0.1
bokeh>=3.0.0
pytz>=2019.2
azure-common>=1.1.18
numpy>=1.15.4
rrcf==0.4.4
nest_asyncio>=1.6.0
python_openobserve>=0.4.2
azure-mgmt-monitor>=2.0.0
ipython>=8.39.0; python_version <= "3.10"
pyyaml>=3.13
pydantic<3.0.0,>=1.8.0
pandas<3.0.0,>=1.4.0
tldextract>=2.2.2
azure-storage-blob>=12.5.0
jinja2>=3.1.5
urllib3>=2.6.3
dnspython<3.0.0,>=2.0.0
azure-monitor-query<=3.0.0,>=1.0.0
azure-keyvault-secrets>=4.0.0
httpx<1.0.0,>=0.23.0
setuptools>=40.6.3
typing-extensions>=4.15.0
geoip2>=2.9.0
statsmodels>=0.11.1
azure-mgmt-subscription>=3.0.0
matplotlib>=3.0.0
msal_extensions>=1.3.1
tornado>=6.4.2
keyring>=13.2.1
vt-py>=0.18.0
azure-kusto-data<7.0.0,>=6.0.3
html5lib