attrs>=18.2.0
cryptography
deprecated>=1.2.4
docutils<0.20.0
httpx==0.25.0
ipython >= 7.1.1
jinja2<3.2.0
numpy>=1.15.4
pandas>=1.1.5
pydantic>=1.8.0, <3.0.0
python-dateutil>=2.8.1
pytz>=2019.2
pyyaml>=3.13
typing-extensions>=4.2.0
readthedocs-sphinx-ext==2.2.2
seed_intersphinx_mapping
sphinx-rtd-theme==1.2.2
sphinx<7
sphinxcontrib-jquery==4.1
